<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name Letters</title>
</head>

<body>
  <!-- Write your code here -->
  <h1><%= heading %></h1>
  <form action="/submit" method="POST">
    <label for="licence"> licence</label>
    <input type="text" name="licence" placeholder="Enter licence">
    <!-- <label for="account">account</label>
    <input type="text" name="lName" placeholder="Last name"> -->
    <input type="submit" value="OK">
  </form>
</body>

</html>